The Catacombs of Nadaroth/compile.bat.lnk
The Catacombs of Nadaroth/run.bat.lnk
The Catacombs of Nadaroth/build/Debug/outDebug.exe
.vscode/settings.json
.vscode/launch.json
.vscode/c_cpp_properties.json