The Catacombs of Nadaroth/compile.bat.lnk
The Catacombs of Nadaroth/run.bat.lnk
The Catacombs of Nadaroth/build/Debug/outDebug.exe
.vscode/settings.json
.vscode/launch.json
.vscode/c_cpp_properties.json
*.o
The Catacombs of Nadaroth/chunk_builder.py
The Catacombs of Nadaroth/assets/data/player_achievements.dodjo
The Catacombs of Nadaroth/assets/data/player_statistics.dodjo
The Catacombs of Nadaroth/game.log
The Catacombs of Nadaroth/assets/data/game.log
The Catacombs of Nadaroth/assets/data/save.dat
